{% extends 'layout.html.twig' %}

{% block title %}'To Twój Kalendarz'{% endblock %}

{% block content %}
    <h1>Oto Twój kalendarz treningów z ostatniego miesiąca</h1>

{#{{ dump(calendar) }}#}

    <h2>Dni treningu</h2>
    <tr>
        {% for data in calendar %}
            <h3>{{  'table.training_day'|trans }}</h3>
            <td>{{ data.Training_day_day_number }}</td>
             <br>
        {% endfor %}
    </tr>

{#{{ currentDate}}#}

{% endblock %}