{% extends "layout.html.twig" %}

{% block content %}
    {#Witaj     {{ dump(name) }} !#}
    {#<h1>Cześć {{ app.user.username }} ! </h1>#}
    {% if is_granted("ROLE") %}
       <h1>Witaj {{ app.user.username }}</h1> Hi {{ app.user.username }}
  {% else %}
    <h1>
        Witaj Nieznajomy!
    </h1>

  {% endif %}


{% endblock %}
